body{
    background-color: rgb(253, 251, 173);
}
img{
    width: 500px;
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h2{
    text-align: center;
}